.idea/
venv/

data/
tests/general_test.py


__pycache__/
tests/runs/

*.pkl
datasets/CICIDS2017/cicids2017_cleaned.csv
thesis_tmg_pipeline.zip
thesis_tmg_pipeline.zip
thesis_tmg_pipeline.zip
*.pt
*.pth
results/datasets/CICIDS2017/x_test.csv
results/datasets/CICIDS2017/x_train.csv
results/datasets/CICIDS2017/y_test.csv
results/datasets/CICIDS2017/y_train.csv
results/state.db
